@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px;
}

 :-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.btn,
a,
button {
    transition: all .4s ease;
}

.box-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 66px;
    background: #044863;
    color: #fff;
    z-index: 1;
}

.btn-search .fa-search {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
}

.box-search .over:hover {
    opacity: .7;
}

.detail-page {
    min-height: 100vh;
    background: #edeff0;
    overflow: hidden;
}

.detail-page .left-sidebar {
    position: fixed;
    width: 253px;
    margin-top: 66px;
    height: calc(100vh - 66px);
}

.menu {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.detail-page .left-sidebar ul li {}

.detail-page .left-sidebar ul {
    padding: 0;
    margin: 0;
}

.detail-page .left-sidebar ul li a {
    display: block;
    position: relative;
    color: #fff;
    background: #2a2f33;
    text-decoration: none;
    padding: 15px 30px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .03);
}

.detail-page .left-sidebar ul li a:hover {
    background: #f98f04;
}

.detail-page .col-main-body {
    flex: 1 1 auto;
}

.title-body {
    font-size: 26px;
    position: relative;
    font-weight: 400;
    display: inline-block;
}

.title-category {
    margin-bottom: 15px;
}

.title-body::after {
    content: "";
    position: absolute;
    background: #e1493e;
    width: 100%;
    height: 2px;
    display: block;
}

.detail-page .col-main-body .title-detail {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.detail-page .col-main-body .text-content {
    padding: 40px 40px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    margin-top: 50px;
    margin-bottom: 30px;
}

.detail-page .col-main-body .text-content .link-text {
    color: #ff5c53;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.detail-page .col-main-body .text-content .link-text:hover {
    text-decoration: underline;
}

.col-main-body .article-related-list .item-image-list .img {
    display: block;
    width: 100%;
    height: auto;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.item {
    position: relative;
    padding: 0 12px;
}

.main-body {
    padding: 80px 80px 0 80px;
}

.item .inner-item:hover {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.item-viewed {
    background: rgb(15, 179, 243);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    font-weight: 700;
    line-height: 15px;
    right: 0;
    top: 0;
}

.item-viewed::after {
    border-right: 13px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.item-image-list .item-viewed {
    right: -13px;
    top: 150px;
}

.article-item-slide .item-viewed {
    right: -13px;
}

.svg-inline--fa {
    width: 1rem;
}

.col-main-body .article-related-list .item-detail {
    padding-top: 25px;
}

.col-main-body .article-related-list .item-detail .card-title {
    font-weight: 700;
    color: #2d2d2d;
    margin-bottom: 8px;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 20px;
}

.col-main-body .article-related-list .item-detail .card-text {
    color: #777;
    font-size: 14px;
    margin: 0;
}

.col-main-body .article-related-list .info-footer {
    padding: 5px 20px 15px;
}

.col-main-body .article-related-list .info-footer .text-left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: #777;
    padding-right: 5px;
}

.col-main-body .article-related-list .info-footer .text-left img {
    background: #c4c4c4;
    display: inline-block;
    vertical-align: sub;
    height: 17px;
    margin-right: 2px;
    position: relative;
}

.col-main-body .article-related-list .info-footer .text-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: #777;
    padding-right: 5px;
}

.detail-page .col-main-body .content-detail .img-content .item-viewed {
    background: rgb(15, 179, 243);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    font-weight: 700;
    line-height: 15px;
    right: 0;
}

.col-right-sidebar .card-body {
    background: #ffffff;
}

.col-right-sidebar {
    padding-left: 25px;
    padding-right: 25px;
}

.fa-eye {
    margin-right: 5px;
}

.title-sidebar {
    font-size: 13px;
    color: #ffffff;
}

.col-right-sidebar .card-body ul li {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -25px;
}

.col-right-sidebar .card-body ul li .inner-item .item-viewed {
    background: rgb(15, 179, 243);
    color: #ffffff;
    padding: 10px;
    position: absolute;
    font-weight: 700;
    line-height: 15px;
    right: 5px;
    top: 0;
}

.col-right-sidebar .card-body .inner-item {
    position: relative;
    padding-right: 20px;
    padding-left: 0;
}

.col-right-sidebar .card-body .inner-item img {
    display: block;
    width: 100%;
    height: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.col-right-sidebar .card-body ul li .inner-item .item-viewed::after {
    border-right: 15px solid transparent;
    border-top: 8px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}

.col-right-sidebar .card-body ul li .inner-item .card-overlay {
    padding: 9px 10px 0px!important;
    background: linear-gradient(0deg, rgba(0, 0, 0, .55), rgba(59, 59, 60, .4) 82%, hsla(0, 0%, 98.4%, .1));
}

.card-img-overlay {
    position: relative;
    top: -45px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 45px;
}

.footer .tittle-footer {
    text-transform: uppercase;
    text-align: center;
}

.footer {
    background: #fff;
    color: #222;
    border-top: 1px solid #e9e9e9;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 0;
    margin-top: 45px;
}

.footer .privacy {
    padding-left: 15px;
    text-align: left;
    color: black;
    text-decoration: none;
}

.main-body .slide-show .article-item-slide .title-text {
    content: "";
    position: absolute;
    bottom: -16px;
    padding: 10px 15px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .19) 28%, rgba(0, 0, 0, .7));
    width: 100%;
}

.main-body .slide-show {
    margin-bottom: 40px;
}

.hooper-pagination .hooper-indicators .hooper-indicator {
    width: 16px;
    height: 16px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    outline: 0;
    margin: 0 5px;
}

.hooper-indicators {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: end;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #5b4282;
    border: 3px solid #fff;
    border-radius: 50%;
    outline: 0;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.swiper {
    height: 550px;
}

.swiper-pagination.pagination-click.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 25px;
    justify-content: end;
    display: flex;
}

.btn-view-all {
    margin-left: 20px;
    color: #fff;
    background-color: #0fb3f3;
    border-color: #0fb3f3;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.8rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 103px;
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
}

.fa-chevron-circle-right {
    color: #fff;
    position: absolute;
    right: 12px;
    content: "";
}

.col-left-sidebar {
    height: 100vh;
}

.box-search .active-link img {
    width: 140px;
}

.swiper-slide {
    width: 1115px!important;
}