<head>
    <title>CMC Ciber</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/hong.css" />
</head>

<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center menu">
                <div class="col-12 col-lg-3 col-xl-2 box-search">
                    <button type="button" class="btn btn-search">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon svg-inline--fa fa-search fa-w-16"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" class=""></path></svg>
                    </button>
                </div>
                <div class="col-12 col-lg-3 col-xl-8 box-search">
                    <a href="" class="over logo active-link">
                        <img class="img-fluid" alt="" src="images/icon.png">
                    </a>
                </div>
                <div class="col-12 col-lg-3 col-xl-2 box-search">
                    <a href="">
                        <img class="img-fluid" alt="" src="images/app-store.png">
                    </a>
                    <a href="">
                        <img class="img-fluid" alt="" src="images/gg-play.png">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="detail-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-3 col-xl-2 px-0 col-left-sidebar">
                    <div class="left-sidebar">
                        <ul>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                            <li>
                                <a href=""><span class="category-name">経済・民間連携</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 col-xl-10 col-main-body px-0">
                    <div class="main-body">
                        <h3 class="title-body">経済・民間連携</h3>
                        <div class="row">
                            <div class="col-12 col-sm-8 col-xl-9">
                                <p class="title-detail">経済・民間連携X</p>
                                <div class="content-detail">
                                    <div class="img-content position-relative">
                                        <img class="img-fluid" alt="" src="images/images1.jpg">
                                        <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                    </div>
                                    <div class="text-content">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                        </p>
                                        <p>Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <a href="#" class="link-text">経済・民間連携</a>
                                    </div>
                                </div>
                                <div class="article-related-list">
                                    <h3 class="title-body">経済・民間連携</h3>
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 item">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">経済・民間連携</h3>
                                                    <p class="card-text item-text max-ln-3">経済・民間連携</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>経済・民間連携
                                                    </p>
                                                    <p class="text-right">経済・民間連携</p>
                                                </div>
                                            </a>
                                            <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 item">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">経済・民間連携</h3>
                                                    <p class="card-text item-text max-ln-3">経済・民間連携</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>経済・民間連携
                                                    </p>
                                                    <p class="text-right">経済・民間連携</p>
                                                </div>
                                            </a>
                                            <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 item">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">経済・民間連携</h3>
                                                    <p class="card-text item-text max-ln-3">経済・民間連携</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>経済・民間連携
                                                    </p>
                                                    <p class="text-right">経済・民間連携</p>
                                                </div>
                                            </a>
                                            <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 item">
                                            <a href="#" class="card inner-item">
                                                <div class="item-image-list">
                                                    <img src="images/detail.png" alt="" class="img-fluid img">
                                                </div>
                                                <div class="card-body item-detail">
                                                    <h3 class="card-title item-title max-ln-3">経済・民間連携</h3>
                                                    <p class="card-text item-text max-ln-3">経済・民間連携</p>
                                                </div>
                                                <div class="info-footer d-flex">
                                                    <p class="text-left">
                                                        <span><img src="images/text.png" alt="" class="img-fluid"></span>経済・民間連携
                                                    </p>
                                                    <p class="text-right">経済・民間連携</p>
                                                </div>
                                            </a>
                                            <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-xl-3 col-right-sidebar">
                                <h3 class="title-body">経済・民間連携</h3>
                                <div class="card-body card">
                                    <ul>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="inner-item">
                                                <img src="images/putin.jpg" class="img-fluid" alt="">
                                                <span class="item-viewed"><svg data-v-f09a6b78="" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-eye fa-w-18"><path data-v-f09a6b78="" fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class=""></path></svg>116</span>
                                                <div class="card-overlay card-img-overlay">
                                                    <h4 class="title-sidebar">経済・民間連携経済・民間連携</h4>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="tittle-footer">COPYTIGHT@2020 GLOCAL ALL RIGHT RESERVED</p>
                        <a href="#" class="privacy">経済・民間連携XX</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="js/jquery-3.4.1.min.js " defer></script>
<script src="js/bootstrap.min.js " defer></script>
<script src="script.js " defer></script>
<script src="js/hong.js " defer></script>